.home-background {
    min-height: 100vh;
    background-image: url('../assets/images/Home7.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
}

.home-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Capa oscura semitransparente */
}